<div class="container">
    <ul>  
        <h4>Kitap İşlemleri</h4>
            <a routerLink="/bookList">  <li>Kitap Listele</li></a>
        
      
           
    </ul>

    <ul>  
        <h4>Yazar İşlemleri</h4>
        <a routerLink="/authorList"><li>Yazar Listele</li></a>
     

    </ul>
    
    
    <ul>  
        <h4>Kategori İşlemleri</h4>
        <a routerLink="/categoryList"> <li>Kategori Listele</li></a>
   

    </ul>

    <ul>  
        <h4>Sipariş Listesi</h4>
        <a routerLink="/ordersList"><li>Siparişler</li></a>
     

    </ul>

    <ul>  
        <h4>Slider İşlemleri</h4>
            <a routerLink="/slider">  <li>Slider </li></a>
     
    </ul>




</div>

