<div class="container">
    <div class="row">

       
                <div class="card" style="width: 17rem;" *ngFor="let book of book1">

                    <a routerLink=""  (click)="categoryOneBookDetails(book.id)">

                    <img src="assets/img/resim1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Book Name : {{book.bookName}}</h5>
                        <p class="card-text">Book Details : {{book.bookDetails}}</p>
                     
                        <h6 class="card-title">Book Author : {{book.author.authorName}}</h6>
                            <div class="text-center">
                                <a href="#" class="btn btn-outline-primary">{{book.bookPrice}}₺ BUY </a>&nbsp;
                                <a href="#" class="btn btn-outline-success">Sepete Ekle</a>
                            </div>
                        </div>
                    </a>
                </div>
            

</div>

</div>

