<div class="container">
<div class="row">
    <div class="col-sm-2"><app-adminindex></app-adminindex></div>
    
      <div class="col-sm-6"> 
  
  
  <form #addForm="ngForm" (ngSubmit)="updateBook()">
  
    <div class="col-3">
      <label>Name</label>
      <input type="text"  [(ngModel)]="book.bookName" name="bookName" class="form-control" id="bookName">
    </div>
  
    <div class="col-3">
  
      <label>Author</label>
      <input type="text"  [(ngModel)]="book.bookAuthor" name="bookAuthor" class="form-control" id="bookAuthor">
    </div>
  
  
  
    <div class="col-3">
      <label>price</label>
      <input type="text"   [(ngModel)]="book.bookPrice" name="bookPrice"  class="form-control" id="bookPrice" aria-describedby="emailHelp">
  
    </div>
  
    <div class="col-3">
      <label>stock</label>
      <input type="text"  [(ngModel)]="book.bookStock" name="bookStock"  class="form-control" id="bookStock" aria-describedby="emailHelp">
  
    </div>
  
    <button [disabled]="addForm.invalid"  id="butonid" type="submit" class="btn btn-primary">Submit</button>
  
  </form>
  </div>
</div>