<html>
<head>
 

</head>
<body>

  <div class="container">
    <div class="row">
   
  
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" *ngFor="let resim of sliderImages" ></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="assets/img/kitapindirimli.jpg" width="100%" height="500px" alt="First slide">
            </div>
            <div class="carousel-item" *ngFor="let resim of sliderImages">
              <img src="data:image/jpeg;base64,{{resim?.picByte}}" width="100%" height="500px" >
            

             
            </div>
          
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

    
        
           
 
            
        
        

    </div>

<!-- container div bitiş-->
</div>
   




<div class="container">

  <div class="row blog">
    <h2>Yazarlara Gözatın</h2>
      <div class="col-md-12">
          <div id="blogCarousel" class="carousel slide" data-ride="carousel">

              <ol class="carousel-indicators">
          
                  <li data-target="#blogCarousel"  *ngFor="let p of pages; let i=index" (click)="setPage(i,$event)" data-slide-to="i"></li>
              </ol>

                    <!-- Carousel items -->
              <div class="carousel-inner">

                  <div class="carousel-item active" >
                      <div class="row">
                          <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let authorm of authorPageable" >
                            <a routerLink=""  (click)="authorDetails(authorm.id)">

                            <div class="our-team">
                                <div class="pic">
                                  <img src="data:image/jpeg;base64,{{authorm?.picByte}}" form width="250px" height="200px">

                                </div>
                                    <div class="team-content">
                                         <h3 class="title">{{authorm.authorName}}</h3>
                                      
                                      <span class="post"></span>
                                      
                                    </div>

                                    <ul class="social"> 
                                     
                                        <a href="#" class="btn btn-outline-success"> <i class="fa fa-info-circle fa-fw mr-1"> </i>Hakkında</a>
                                    
                                     
                                    
                                      </ul>

                                       
                            </div>
                            </a>
                          </div>


                          


                      </div>
                            <!--.row-->
                  </div>
                        <!--.item-->

              </div>
                    <!--.carousel-inner-->
                    <a class="carousel-control-prev" (click)="minusPage(pagePlusAndMinus,$event)" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" (click)="plusPage(pagePlusAndMinus,$event)" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                    
          </div>
          <!--.Carousel-->

          <!-- Carousel controls -->
          
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Geri</a>
    </li>
    <li class="page-item" *ngFor="let p of pages; let i=index"><a class="page-link"  (click)="setPage(i,$event)">{{i+1}}</a></li>
  
    <li class="page-item">
      <a class="page-link" >İleri</a>
    </li>
  </ul>
</nav>






		
      </div>
  </div>
</div>












</body>

</html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

  
  </head>


<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Trend <b> Kitaplar</b></h2>
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
        <!-- Carousel indicators -->
     
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner " >
          <div class="carousel-item active " >
            <div class="row" >
              <div class="col-lg-3" *ngFor="let trendBook of top10Book"  >
                <a routerLink="" (click)="categoryOneBookDetails(trendBook.id)">

                <div class="thumb-wrapper" >
                  <div class="img-box " >
                    <img src="data:image/jpeg;base64,{{trendBook?.picByte}}" form width="100%" height="100%">
                  </div>
                  <div class="thumb-content">
                    <h4>{{trendBook.bookName}}</h4>
                    <p class="item-price"> <span>{{trendBook.author.authorName}}</span></p>
                    <div class="star-rating">
                      <ul class="list-inline">
                     
                        <li class="list-inline-item" ><i class="fa fa-star"></i></li>
                        <li class="list-inline-item" ><i class="fa fa-star"></i></li>
                        <li class="list-inline-item" ><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"  ><i class="fa fa-star"></i></li>
                        <li class="list-inline-item" ><i class="fa fa-star-o"></i></li>
                        <p>Puan: {{trendBook.rating}}</p>

                      </ul>
                    </div>
                    <a routerLink="" class="btn btn-primary" (click)="categoryOneBookDetails(trendBook.id)">Detay</a>
                  </div>						
                </div>
              </a>
              </div>
              
            </div>
          </div>
       
        </div>
        <!-- Carousel controls -->
      
    
      </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-8"><h4>Son Eklenen Kitaplar</h4>

         <!-- Topic Cards -->
     <div id="cards_landscape_wrap-2">
      <div class="container">
          <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" *ngFor="let book of lastAddedEightBook">
                 
                      <div class="card-flyer">
                          <div class="text-box">
                            <a routerLink="" (click)="categoryOneBookDetails(book.id)">
                              <div class="image-box">
                                <img src="data:image/jpeg;base64,{{book?.picByte}}" width="170px" height="200px">
                              </div>
                              <div class="text-container">
                                  <h6>{{book.bookName}}</h6>
                                  <p></p>

                                </div>
                              </a>
                          </div>
                      </div>
                
              </div>
            
          </div>
      </div>
  </div>



        
        



      </div>
      <div class="col-sm-4" style="overflow: auto; height:650px"><h4>Çok Satan Kitaplar</h4>
     
        <div class="card mb-3" *ngFor="let book of atLeastFiveBook" style="max-width: 540px;" >
          <div class="row no-gutters" (click)="categoryOneBookDetails(book.id)" >
           

            <div class="col-md-4">
              <img src="data:image/jpeg;base64,{{book?.picByte}}" height="90%" width="50%" class="card-img rounded" alt="...">
              
            </div>
            <div class="col-md-8">
              
              <div class="card-body"  >
                <h5 class="card-title">{{book.bookName}}</h5>
                <p class="card-text"> {{book.author.authorName}}</p>
              </div>
            </div>
            
          </div>
      
        </div>

 

    </div>
   
</div>




