<div class="container">
  <div class="row">
      <div class="col-sm-2"> <app-adminindex></app-adminindex></div>
      <div class="col-sm-10"> 
    
        <div class="row">
          <form [formGroup]="form2" *ngIf="form2" >
            <div class="row justify-content-md-center">
    
              <div class="col-sm-6 center">
    
                
                <div class="input-group" >
                  <div class="form-outline" style="width:400px; margin-top:10px;">
                    <input type="text" name="authorName"  formControlName="authorName" placeholder="Aramak İstediğiniz Yazarı Giriniz" id="form1" class="form-control" />
                  
                  </div>
                  <button type="button"  class="btn btn-primary">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
    
              </div>
            </div>
    
    
    
      
        </form>
      </div>


<table class="table">
    <thead>
    <tr>
  
      <th scope="col">Yazar Resim</th>
      <th scope="col">Yazar Adı</th>
      <th scope="col">İşlemler</th>

      <th>
        <button (click)="createAuthorModalData()"  data-bs-toggle="modal" data-bs-target="#createAuthor"   type="button"  class="btn btn-danger">Yazar Ekle</button>
      </th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor=" let authors of author">
    
          <td><img src="data:image/jpeg;base64,{{authors?.picByte}}" form width="100px" height="100px">
          </td>
        
          <td>{{authors.authorName}}</td>
         
        <td>
            <button (click)="editAuthor(authors)" data-bs-toggle="modal" data-bs-target="#authorDetails" type="button" class="btn btn-primary">Detaylar</button>
            <button (click)="editAuthor(authors)" type="button" data-bs-toggle="modal" data-bs-target="#updateAuthor"  class="btn btn-info">Güncelle</button>&nbsp;
            <button (click)="deleteModal(authors.id)" data-bs-toggle="modal" data-bs-target="#deleteAuthor"   type="button"  class="btn btn-danger">Sil</button></td>
      


            
    </tr>
  
   
  


    </tbody>
  </table>
  </div>


  
<!-- Create Author -->



<div class="modal fade" id="createAuthor" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Yazar Ekle</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="myForm">
        <form [formGroup]="myForm">
          <div class="form-group">
            <label for="authorName">Yazar Adı</label>
            <input type="email" id="authorName"  aria-describedby="authorName" placeholder="Yazar Adı Giriniz"
                   formControlName="authorName">
          
          </div>
          
     
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Yazar Hakkında</label>
            <textarea class="form-control" formControlName="authorAbout"  placeholder="Yazar Hakkında Bilgi Giriniz" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>


        

          <input type="file" (change)="onFileChanged($event)">
            <div *ngIf=message>{{message}}</div>
           
      </form>
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="createAuthor()">Yazar Ekle</button>
      </div>
    </div>
  </div>
</div>

    
<!-- Create Author BİTİŞ -->





        
<!-- Details Modal  Başlangıç -->
<div class="modal fade" id="authorDetails" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="authorDetails">Yazar Detayları </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

   

      <div class="modal-body" *ngIf="form">
        <form [formGroup]="form">

          <div class="d-flex justify-content-center">
            
            <img src="data:image/jpeg;base64,{{selectedAuthor?.picByte}}"   form width="300px" height="200px">



        </div>
  
          <div class="form-group">
            <label for="authorName">Yazar Adı </label>
            <input type="email" readonly class="form-control" id="authorName" aria-describedby="authorName" placeholder="Yazar Adı Giriniz"
                   formControlName="authorName">
           
          </div>

       
          
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Yazar Hakkında</label>
            <textarea class="form-control" formControlName="authorAbout" readonly  placeholder="Yazar Hakkında Bilgi Giriniz" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>



    

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
      
      </div>
    </div>
  </div>
</div>

<!-- Details MODAL BİTİŞ -->


<!-- Update Author  Başlangıç -->
<div class="modal fade" id="updateAuthor" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Yazar Güncelle</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="d-flex justify-content-center">
            
        <img src="data:image/jpeg;base64,{{selectedAuthor?.picByte}}"   form width="300px" height="200px">



    </div>
      <div class="modal-body" *ngIf="form">
        <form [formGroup]="form">
         
          <div class="form-group">
            <label for="authorName">Yazar Adı</label>
            <input type="email" class="form-control {{form.controls.authorName.touched && form.controls.authorName.errors ? 'is-invalid':'' }}" id="authorName" aria-describedby="authorName" placeholder="Enter authorName"
                   formControlName="authorName">
            <small id="titleRequired" class="text-danger" *ngIf="form.controls.authorName.touched && form.controls.authorName.errors && form.controls.authorName.errors.required" >
             Bu alan boş bırakılamaz
            </small>
          </div>


          <div class="form-group">
            <label for="exampleFormControlTextarea1">Yazar Hakkında</label>
            <textarea class="form-control {{form.controls.authorAbout.touched && form.controls.authorAbout.errors ? 'is-invalid':'' }}" formControlName="authorAbout"  placeholder="Yazar Hakkında Bilgi Giriniz" id="exampleFormControlTextarea1" rows="3"></textarea>
         
            <small id="titleRequired" class="text-danger" *ngIf="form.controls.authorAbout.touched && form.controls.authorAbout.errors && form.controls.authorAbout.errors.required" >
              Bu alan boş bırakılamaz
            </small>

          </div>

          <div class="form-group">
          <input type="file" (change)="onFileChanged($event)">
          </div>
         

      
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
        <button type="button" (click)="updateAuthor()" data-bs-dismiss="modal" class="btn btn-primary">Yazar Güncelle
      
      </button>
      </div>
    </div>
  </div>
</div>

<!-- Update MODAL BİTİŞ -->



<!-- Delete Modal Başlangıç -->
<div class="modal fade" id="deleteAuthor" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteBookModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteAuthor">Yazar Sil</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <label for="areYouSureDelete">Silmek İstediğinize Emin Misiniz ?</label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hayır</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"  (click)="deleteBook1()" >Evet
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Delete Modal Bitiş -->






  </div>


